body {
    margin: 0px;
}

h1 {
    text-align: left;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    background-color: rgb(223, 146, 158);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar li { 
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
    display: block;
    text-align: center;
    text-shadow: -1px 1px rgb(99, 95, 96);
    float: left;
}

