body {
    margin: 0px;
}


h1 {
    text-align: center;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.offers {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: url(background/red_bg.jpg) center;
}
.offers-card { 
    background: url(background/black_bg.png);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    padding: 1px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #000;
}

.offers-card img {
    width: 250px;
    height: 250x;
    object-fit: cover;
    border-radius: 1px;

}

nav ul {
    list-style: none;
    background-color: rgb(223, 146, 158);
    padding: 0px;
    margin: 0px;
    overflow: hidden;  /* insert comment */ 
    text-align: right;
}

.navbar li { 
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    display: block;
    text-align: center;
    text-shadow: -1px 1px rgb(99, 95, 96);
    float: left;
    font-size: large;
}
